{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "permissions": {
    "defaultMode": "{{ permission_mode }}",
    "allow": [],
    "deny": [],
    "ask": []
  },
  "sandbox": {
    "enabled": false
  },
  "env": {
    "IS_SANDBOX": "1",
    "CLAUDE_TELEMETRY_DISABLED": "1"
  },
  "theme": "auto",
  "autoUpdaterStatus": "disabled",
  "includeCoAuthoredBy": false
}
